    .dashboard{
   padding: 0;
   width: 50%;
   }

   .dashboard li{
   list-style-type: none;
   }

   .dashboard ul{
   padding: 0;
   width: 90%;
   }

   .dashboard h5{
   color: FF6620;
   }

   .dashboard h4{
   color:142CFF;
   }git sta
   .answer {
   margin-top: 1px;
   }

   .question{
   margin-right: 0px;
   }


  textarea {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 400px;
  }

  .vote {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    float: right;
    }

    .vote:hover:not(.active){
    background-color: #111;
    }

    .platform{
    width: 100%;
    height: 80%;
    }
